<%- include('./partials/header.ejs') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<label for="name" id="nameLabel">Enter Name:</label>
<input type="text" id="name" name="name"><br><br>
<label for="roomNo" style="display: none">RoomNo:</label>
<input type="text" id="roomNo" name="roomNo" style="display: none"><br><br>

<p id="roomNo">Room ID</p>
<div id="plant_list">
<% data.forEach(plant => { %>
    <p><strong>Name:</strong> <%= plant.name%></p>
    <p><strong>Height</strong> <%= plant.height %></p>
    <button id="connect" onclick="connectToRoom('<%= plant._id%>','<%= plant.chat%>')">Connect</button>
    <hr>
    <% }); %>
    <hr>
</div>

<%- include('./partials/footer.ejs') %>
