<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row gy-4">
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top object-fit-cover" src="/images/uploads/<%- plant.image %>" alt="Picture of <%- plant.name %>"/>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title"><%= plant.name %></h4>
                        <% if (plant.identification_complete) { %>
                            <div class="badge text-bg-success tooltip-button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <span class="tooltip-text bg-dark text-light rounded p-2">Identification complete</span>
                            </div>
                            <% } %>
                        </div>
                        
                    <h6 class="card-subtitle text-muted mb-2"><%= plant.latitude %>&deg; N, <%= plant.longitude %>&deg; W</h6>
                    <p class="card-text"><%= plant.description %></p>
                    <div id="map" class="my-3" style="height: 10rem; border-radius: 0.375rem;"></div>
                        
                    <div class="row row-cols-2 row-cols-lg-3 text-center g-2 mb-4">
                        <div class="col">
                            <div class="border rounded align-self-center p-2">
                                <p class="mb-0 text-muted">Height</p>
                                <p class="mb-0"><%= plant.height %> cm</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="border rounded align-self-center p-2">
                                <p class="mb-0 text-muted">Spread</p>
                                <p class="mb-0"><%= plant.spread %> cm</p>
                            </div>
                        </div>
                        <% if (plant.flowers) { %>
                            <div class="col">
                                <div class="border rounded align-self-center p-2">
                                    <p class="mb-0 text-muted">Flower Colour</p>
                                    <p class="mb-0"><%= plant.flower_colour %></p>
                                </div>
                            </div>
                        <% } else { %>
                            <div class="col">
                                <div class="border rounded align-self-center p-2">
                                    <p class="mb-0 text-muted">Flowers?</p>
                                    <p class="mb-0">No</p>
                                </div>
                            </div>
                        <% } %>
                        <div class="col">
                            <div class="border rounded align-self-center p-2">
                                <p class="mb-0 text-muted">Sun Exposure</p>
                                <p class="mb-0"><%= plant.sun_exposure %></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="border rounded align-self-center p-2">
                                <p class="mb-0 text-muted">Seeds/Fruit?</p>
                                <p class="mb-0"><%= plant.seeds_or_fruit ? 'Yes' : 'No' %></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="border rounded align-self-center p-2">
                                <p class="mb-0 text-muted">Leaves?</p>
                                <p class="mb-0"><%= plant.leaves ? 'Yes' : 'No' %></p>
                            </div>
                        </div>
                    </div>

                      
                    <% if (!plant.identification_complete) { %>
                        <button id="suggest-name" class="btn btn-secondary">Suggest Name</button>
                        <div class="overlay">
                            <div class="suggest-name-form card" style="width: 25rem; max-width: 95dvw;">
                                <div class="card-header">
                                    <button id="close-suggest-name" type="button" class="btn-close" aria-label="Close"></button>
                                </div>
                                
                                <!-- FORM FOR SUGGESTING A NEW NAME -->
                                <form class="card-body" method="post" action="">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="suggested-name" id="suggested-name" placeholder="e.g. Rose">
                                        <label for="suggested-name">Name Suggestion</label>
                                    </div>                                  
                                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>

                <div class="card-footer">
                    <p class="card-text mb-0"><span class="text-muted">Posted by</span> <%= plant.user %></p>
                    <p class="card-text">
                        <span class="text-muted">On</span>
                        <%= new Date(plant.date_time_added).toLocaleDateString() %>
                        <span class="text-muted">at</span>
                        <%= new Date(plant.date_time_added).toLocaleTimeString() %>
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column justify-content-between gap-2 border rounded" style="height: 80dvh;">
                <div class="d-flex flex-column-reverse overflow-auto p-2" style="scrollbar-width: thin;">
                    <div class="flex-grow-1" id="history">
                    </div>
                    <!-- ==== FORM FOR UPLOADING HISTORY WHEN PAGE LEFT -->
                    <form id="uploadHistory" class="d-none" action="/changeChat" method="post">
                        <input type="text" name="plantID" id="plantID" value=<%= plant._id %>>
                        <input type="text" id="historyChat" name="historyChat">
                    </form>
                </div>  

                <div>
                    <!-- FORM FOR SENDING CHAT TEXT -->
                    <form onsubmit="return false" class="d-flex gap-2 p-2">
                        <input type="text" name="chat_input" id="chat_input" placeholder="Send a message" class="form-control" required>
                        <button class="btn btn-primary" onclick="sendChatText()">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleOverlay(displayStyle) {
        document.querySelector(".overlay").style.display = displayStyle;
    }
    document.getElementById("suggest-name").onclick = () => toggleOverlay("block");
    document.getElementById("close-suggest-name").onclick = () => toggleOverlay("none");
</script>

<script src="/javascripts/chat.js"></script>
<script>
    const checkCurrentUser = setInterval(() => {
        if (CURRENT_USER) {
            connectToRoom('<%= plant.chat %>');
            clearInterval(checkCurrentUser);
        }
    }, 100);
    
    
    window.onbeforeunload = function() {
        const data = JSON.stringify({
            plantID: '<%= plant._id %>',
            historyChat: document.getElementById('historyChat').value
        });

        const blob = new Blob([data], {
            type: 'application/json'
        });

        navigator.sendBeacon('/changeChat', blob);
    };
</script>
<script src="/leaflet/leaflet.js"></script>
<script>
    var map = L.map('map', {
        center: [0, 0],
        zoom: 2,
        minZoom: 2,
        maxZoom: 18,
        maxBounds: [
            [-90, -180],
            [90, 180]
        ]
    });

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
        noWrap: true
    }).addTo(map);

    map.setView(['<%= plant.latitude %>', '<%= plant.longitude %>'], 15);
    L.marker(['<%= plant.latitude %>', '<%= plant.longitude %>']).addTo(map);


</script>
<%- include('./partials/footer.ejs') %>
