<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="d-flex justify-content-end align-items-center gap-2 mb-4">
        <form class="d-flex flex-row gap-2">
            <input type="hidden" name="location" id="location">
            <input type="hidden" name="username">
            <div>
                <p class="mb-1">Filter by:</p>
                <div class="form-check form-check-inline pt-1">
                    <label for="my-submissions" class="form-check-label">My Submissions</label>
                    <input type="checkbox" class="form-check-input" name="mySubmissions" id="my-submissions">
                </div>
            </div>
            <label for="sort">Sort by:
                <select name="sort" id="sort" class="form-select" style="width: fit-content;">
                    <option value="recent">Recently Seen</option>
                    <option value="oldest">Oldest Seen</option>
                    <option value="unidentified">Unidentified</option>
                    <option value="closest">Distance (Closest)</option>
                    <option value="farthest">Distance (Farthest)</option>
                </select>
            </label>
        </form>
    </div>

    <div class="row" data-masonry='{"percentPosition": true }'>
        <% if (plants.length == 0) { %>
            <p>There are no plants</p>
    
        <% } else { %>
            <% plants.forEach(plant => { %>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <a class="card" href="/view-plants/<%- plant._id %>" style="text-decoration: none;">
                        <img class="card-img-top img-fluid" src="/images/uploads/<%- plant.image %>" alt="Picture of <%- plant.name %>" />
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h4 class="card-title"><%= plant.name %></h4>
                                <% if (plant.identification_complete) { %>
                                    <div class="badge text-bg-success tooltip-button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                        </svg>
                                        <span class="tooltip-text bg-dark text-light rounded p-2">Identification complete</span>
                                    </div>
                                <% } %>
                            </div>
                            <h6 class="card-subtitle text-muted mb-2"><%= plant.latitude %>&deg; N, <%= plant.longitude %>&deg; W</h6>
                            <p class="card-text"><%= plant.description %></p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text mb-0"><span class="text-muted">Posted by</span> <%= plant.user %></p>
                            <p class="card-text">
                                <span class="text-muted">Plant seen on</span>
                                <%= new Date(plant.date_time_of_sighting).toLocaleDateString() %>
                                <span class="text-muted">at</span>
                                <%= new Date(plant.date_time_of_sighting).toLocaleTimeString() %>
                            </p>
                        </div>
                    </a>
                </div>
            <% }) %>
        <% } %>
    </div>
</div>

<script>
    
    const sort = document.getElementById('sort');
    sort.addEventListener('change', () => {
        sort.form.submit();
    });
    if ('<%= sort %>' !== '')
    sort.value = '<%= sort %>';

    const mySubmissions = document.getElementById('my-submissions');
    mySubmissions.addEventListener('change', () => {
        mySubmissions.form.submit();
    });
    if ('<%= mySubmissions %>' !== '')
    mySubmissions.checked = true;

    const usernameInput = document.querySelector('input[name="username"]');
    const checkCurrentUser = setInterval(() => {
        if (CURRENT_USER) {
            usernameInput.value = CURRENT_USER;
            clearInterval(checkCurrentUser);
        }
    }, 100);

    // set the location value to the current location value
    const locationInput = document.getElementById('location');
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition((position) => {
            locationInput.value = `${position.coords.latitude},${position.coords.longitude}`;
        });
    } 
</script>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
<%- include('./partials/footer.ejs') %>
